.container{
margin-left:35%;
margin-top: 5%;

}
.cart{
 
width: 250px;
height:400px;


margin-top: 10%;
    display: inline-block;
}
form{ 
    margin-left: 10%; display: inline-block;
}
.card-img-top{
    margin-top: -35%;
    border-radius: 10px;
    width: 250px;
    height:300px;
}
.dropdown-menu{
margin-bottom: 10%;
}
.btn-primary{
    margin-top:30px
}
